*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    align-items: center;
    background-image: url(img/Patternsbg.jpg);
    
}

body{margin-top:20px;}
.blog-listing {
    padding-top: 30px;
    padding-bottom: 30px;
}
.contenair .row .ho .card a{
    text-decoration: none; 
   
}

.contenair{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    

}

.ho:hover{
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor:pointer !important;
    background: transparent;
    transition: all 0.3s ease !important;
   
    -ms-transform: scale(1.1) !important;
    transform:scale(1.1) !important;
    z-index: 2;
}

.row{
    display: flex;
    justify-content: space-between;
    
}

img{
    width: 200px;
    height: 200px;
}

